/* GRADIENT BUTTON */
.btn {
    border: none;
    background: $color-gradient; 
    border-radius: 30px;
    padding: 15px 40px 15px;
    margin: 20px 0 30px;
    justify-content: center;
    align-self: center;
    box-shadow: 0 0 6px #7f7f7f;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        background-color: white;
        transition: 0.5s;
        box-shadow: 3px 2px 5px #7f7f7f;
        opacity: 0.9;
    }
}

/* HEART WITH TRANSITION */
.fill {
    color: black;
    font-size: x-large;
    align-items: center;
    cursor: pointer;
    &:hover {
    transition: 1.2s;
    opacity: 1;
    background: $color-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    }
}

