/* LOGO */

.footer {
    flex-direction: column;
    background-color: #363636;
    padding-bottom: 15px;
}

.logo-footer {
    text-align: center;
    width: 130px;
    margin: 20px 10px 0;
    padding-left: 30px;

    img {
    filter: brightness(50%);
    }
}


/* FOOTER */ 

.footerList {
    flex-direction: column;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    
        p {
            color: white;
            margin: 5px 0 5px;
        }
    }
    
}

.fa-footer {
    color: white;
    padding: 0px 10px 0 0;
} 

@media (min-width: 768px) {

    /* FOOTER TABLET*/

    .footerList {
        display: flex;
        flex-direction: row;
    }
}
    
