/* LOGO */

.footer {
    flex-direction: column;
    background-color: #363636;
    padding-bottom: 15px;
    padding-top: 10px;
}

.logo-footer {
    font-family: 'Shrikhand', cursive;
    font-size: large;
    color: white;
    margin: 20px 10px 0;
    padding-left: 30px;
    align-items: center;
}

/* FOOTER */ 

.footerList {
    flex-direction: column;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
    
        p {
            color: white;
            margin: 5px 0 5px;
        }
    }
}

.fa-footer {
    color: white;
    padding: 0px 10px 0 0;
} 

@media (min-width: 768px) {

    /* FOOTER TABLET*/

    .footer {
        flex-wrap: wrap;
        flex-direction: row;
        justify-items: center;

    .logo-footer {
        margin: 0;
    }
       
        .footerList ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li {
                cursor: pointer;
                margin-right: 30px;
            }
        }
    }
}
    
