/* LOGO */

.logo {
    text-align: center;
    margin: 20px 0 10px;

    img {
        width: 170px;
    }
}

.footerList {
    display: flex;
    flex-direction: column;

    li {
        display: flex;
        flex-direction: row;
    }
}