/* HOMECARDS */

.restaurants {
    flex-direction: column;
    background-color: #f3f3f3;
    margin-top: 40px;
    padding-bottom: 50px;
}

.containerRestaurants {
    flex-direction: column;
    gap: 30px;
    margin: 0 20px 0;
}

.cardRestaurant {
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    box-shadow: 4px 6px 8px 4px #e4e4e4;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 150px;
    }
}

.cardBadge {
    position: absolute;
    font-weight: 400;
    background-color: #99E2D0;
    color: darken(#99E2D0, 50%);
    padding: 8px;
    border-radius: 3px;
    margin-top: 1rem;
}

.cardRestaurant:hover {
    box-shadow: 2px 6px 8px 4px #d3d3d3;
    cursor: pointer;
}

.cardRestaurantDescriptionText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3 {
        margin: 0;
    }
}

.cardRestaurantDescriptionText p {
    margin: 5px 0 0;
    font-weight: 300;
}

.cardRestaurantDescription {
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 15px 15px;
}

.cardRestaurantIcon i {
    display: flex;
    align-items: center;
    padding-top: 12px;
}

.fav-empty {
    border: 2px solid transparent;
    cursor: pointer;
}

.fa-heart:hover {
    background-color: linear-gradient(#FF79DA, #9356DC);
}

@media (min-width: 768px) {

    .containerRestaurants {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .cardRestaurant {
        width: 47%;
    }
}