/* MENU */ 

.containerMenus {
    width: 100%;
    background-color: #f3f3f3;
    flex-direction: column;
    padding: 10px;
    position: relative;
    bottom: 60px;
    border-radius: 60px 60px 0 0;
}

/* HEADER MENU */

.header-menu-img img {
    width: 100%;
}

.headerMenu {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

    h1 {
        font-family: 'Shrikhand', cursive;
    }

    .restaurantLike {
        right: 10%;
    }
}

/* CONTAINER MENUS */

.containerMenu {
    flex-direction: column;
    gap: 15px;
    margin: 10px;

    .menuTitle {
        font-weight: 300;
        margin: 30px 0 5px 0;
        font-size: 1.1em;
        position: relative;
    }

    .menuTitle:after {
        content: "";
        width: 45px;
        height: 3px;
        background-color: $color-tertiary;
        position: absolute;
        left: 0;
        bottom: -30%;
    }
}

.menu {
    flex-direction: column;
    gap: 15px;
}

.menuCard {
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 4px 10px 4px #e4e4e4;
    margin: 0;
    padding: 15px;
    animation: 1s ease-out both itemAppear;
    overflow: hidden;
    &:hover .menuCard-confirmation {
        cursor: pointer;
        margin-right: -1rem;
    }
    &:hover .menuCard-icon {
        transform: rotate(0);
    }
}

.menuCard-description {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    h3 {
        font-weight: 500;
    }
    
    p {
        font-weight: 300;
        padding-top: 5px;
    }
}

.menuCard-price {
    flex-direction: row;
    font-weight: 500;
    justify-content: flex-end;
    align-items: flex-end;
}

.menuCard-confirmation {
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}
    
.menuCard-icon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s;
}

.menuIcon {
    color: $color-tertiary;
}

@media (min-width: 970px) {

    .containerMenu {
        flex-direction: row;
        gap: 40px;
    }

    .menu {
        width: 32%;
    }

}








