/*  PRESENTATION */ 

.presentationList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentationItem {
    flex-direction: row;
    background: #f6f6f6;
    box-shadow: 2px 6px 8px 4px #e7e7e7;
    border-radius: 25px;
    border: 0px;
    align-items: center;
    width: 90%;
    height: 70px;
    justify-content: flex-start;
    margin: 10px 0 10px;
    padding-right: 8px;
}

.presentationItem:hover {
    background-color: #ae8fd45f;
    cursor: pointer;
}

.numberIcon {
    margin-left: -10px;
    background-color: #9356DC;
    border: none;
    border-radius: 50%;
    padding: 4px 8px 4px;
    justify-content: center;
    color: white;
}

li i {
    padding: 0 25px 0;
    color: #b3b3b3;
}

li i:hover {
    color: #9356DC;
}

@media (min-width: 768px) {

    /* HEADER TABLET */

    .presentationList {
        display: flex;
        flex-direction: row;

        .presentationItem {
            margin: 0 20px 0 0;
        }
    }
}
