/* ANIMATIONS */

/* MENUS CARDS APPEAR GRADUALLY */
@keyframes appear {
    0% {
      transform: translateY(50%); 
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }

/* LOADING SPINNER */ 
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/* LOADING SPINNER DISAPPEAR */
@keyframes disappear {
   from {
    opacity: 1;
   }
   to {
    opacity: 0;
    visibility: hidden;
   }
}

/* ICON ROTATE CHECKBOX */
@keyframes check-rotate {
  from {
    transform: rotate(300deg);
  }
  to {
    transform: rotate(0);
  }
}

/* HEART TRANSITION */
@keyframes full {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}