/* RESET */
html {
    width: 100%;
    height: 100%;
}

#main {
    max-width: 1500px;
    margin: auto;
}

.flex {
    display: flex;
}

h1 {
    margin: 20px 40px 10px;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

