/* TYPOGRAPHY */

* {
    text-decoration: none;
    color: inherit;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
