/* FOOTER - LOGO  */
.footer {
    flex-direction: column;
    background-color: #363636;
    padding: 10px 0 15px;
    position: relative;

    .footer__logo {
        font-family: $font-title;
        font-size: large;
        color: white;
        margin: 20px 10px 0;
        padding-left: 30px;
        align-items: center;
    }
}

/* FOOTER */ 
.footer__list {
    flex-direction: column;
    height: 32%;

    .footer__item {
        flex-direction: row;
        align-items: center;
        color: white;
        font-weight: 400;
        &:hover {
            cursor: pointer;
            i,p {
                color: $color-tertiary;
            }
        }
    }
}

.fa-footer {
    color: white;
    margin-right: 6px;
}

@media (min-width: 769px) {

    /* FOOTER TABLET*/
    .footer {
        flex-direction: row;
        justify-items: center;
        align-items: center;

    .footer__logo {
        margin: 0;
    }
       
        .footer__list ul {
            display: flex;
            flex-direction: row;
            .footer__item {
                cursor: pointer;
                margin-right: 21px;
            }
        }
    }
}
    
@media (max-width: 768px) {
    .footer__list {
        line-height: 1.5;
    }
}
