/* LOGO - FOOTER */

.footer {
    flex-direction: column;
    background-color: #363636;
    padding: 10px 0 15px;
    position: relative;
}

.logo-footer {
    font-family: $font-title;
    font-size: large;
    color: white;
    margin: 20px 10px 0;
    padding-left: 30px;
    align-items: center;
}

/* FOOTER */ 

.footerList {
    flex-direction: column;
    height: 32%;
}

.fa-footer {
    color: white;
    margin-right: 6px;
}

.footerItem {
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: 400;
    &:hover {
        cursor: pointer;
        i,p {
            color: $color-tertiary;
        }
    }
}

@media (min-width: 768px) {

    /* FOOTER TABLET*/

    .footer {
        flex-direction: row;
        justify-items: center;
        align-items: center;

    .logo-footer {
        margin: 0;
    }
       
        .footerList ul {
            display: flex;
            flex-direction: row;
            .footerItem {
                cursor: pointer;
                margin-right: 25px;
            }
        }
    }
}
    
@media (max-width: 768px) {
    .footerItem {
        margin-bottom: 7px;
    }
}
