/* LOGO */
.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px 0 20px;
    &:hover {
        cursor: pointer;
    }

    img {
        width: 180px;
    }
}

.header-menu {
    justify-content: center;
    align-items: center;
    .fa-arrow-left {
        font-size: x-large;
        position: relative;
        right: 90%;
        &:hover {
        color: $color-primary;
        }
    }
}






