/* LOGO */
.logo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px 0 20px;
    &:hover {
        cursor: pointer;
    }

    img {
        width: 180px;
    }
}

/* HEADER RESTAURANTS PAGE */
.menu__big__header {
    position: relative;
    justify-content: center;
    .fa-arrow-left {
        font-size: x-large;
        position: absolute;
        align-items: center;
        top: 32%;
        left: 2rem;
        height: 2rem;
        width: 2rem;
        &:hover {
        color: $color-primary;
        }
    }
}

/* MENU BIG HEADER */
.menu__big__header--img img {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
}






