/* LOCATION */
.location {
    height: 40px;
    background-color: #E3E3E3;
    box-shadow: inset 0px 20px 7px -20px #B8B8B8;

    .location__bar {
        justify-content: center;
        padding: 12px;
    
        .location__container {
            margin-right: 15px;
            align-items: center;
        }
    }
}

.search__text {
    background: transparent;
    border: none;
    color: black;
    max-width: 125px;
}

/* EXPLORER */
.explorer {
    background-color: #F3F3F3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px 40px;
    
    p {
        font-weight: 200;
        margin: 0 5px 30px;
    }    
}

/* HOMECARDS */
.restaurants {
    flex-direction: column;
    background-color: #f3f3f3;
    margin-top: 40px;
    padding-bottom: 50px;
    h2 {
        margin: 40px 0 20px 20px;
    }
}

.restaurants__container {
    flex-direction: column;
    gap: 30px;
    margin: 0 20px 0;

    .restaurants__card {
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border-radius: 25px;
        box-shadow: 4px 6px 8px 4px #e4e4e4;
        overflow: hidden;
        cursor: pointer;
        transition: transform 250ms ease-in-out;
        &:hover {
            transform: scale(1.01);
            box-shadow: 2px 6px 8px 4px #d3d3d3;
            transition: 1s;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 150px;
        }

        .restaurants__badge {
            position: absolute;
            background-color: #99E2D0;
            color: darken(#99E2D0, 50%);
            padding: 8px;
            border-radius: 3px;
            top: 10px;
            right: 20px;
        }
    }
}

.restaurants__description {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 15px;
    position: relative;

    .restaurants__description--text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h3 {
            margin: 0;
        }

        p {
            margin: 5px 0 0;
            font-weight: 300;
        }
    }
}

@media (min-width: 768px) {

    .restaurants__container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .restaurants__card {
            width: 47%;
        }
    }
}