/* MENU */ 
.menu__container--global {
    width: 100%;
    background-color: #f3f3f3;
    flex-direction: column;
    padding: 10px 10px 70px;
    border-radius: 60px 60px 0 0;
    margin: -4rem auto;
    position: relative;
}

/* MENU HEADER */

.menu__header {
    align-items: center;
    padding: 2px 5px 2px;
    justify-content: center;
    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: x-large;
    }
    i {
        margin-left: 10px;
    }
}

/* CONTAINER MENUS */
.menu__container--bloc {
    flex-direction: column;
    gap: 15px;
    margin: 10px;

    .menu__title {
        font-weight: 300;
        margin: 30px 0 5px 0;
        font-size: 1.1em;
        position: relative;
    }

    .menu__title::after {
        content: "";
        width: 45px;
        height: 3px;
        background-color: $color-tertiary;
        position: absolute;
        left: 0;
        bottom: -30%;
    }
}

.menu {
    flex-direction: column;
    gap: 20px;
}

.delay-1 {
    animation: appear 0.9s ease-in 0.3s;
}

.delay-2 {
    animation: appear 0.9s ease-in 0.5s;
}

.delay-3 {
    animation: appear 0.9s ease-in 0.8s;
}

.menu__card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 4px 10px 4px #e4e4e4;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    overflow: hidden;
    max-width: 100%;
    &:hover .menu__card--confirmation {
        margin-right: -1rem;
    }
    &:hover .menu__card--icon {
        transform: rotate(0);
    }

    &--description {
        flex: 1;
        width: 150px;
        h3 {
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        
        p {
            font-weight: 300;
            padding-top: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }


    &--price {
        flex-direction: row;
        font-weight: 500;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &--confirmation {
        background-color: $color-tertiary;
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        align-items: center;
        justify-content: center;
        transition-duration: 1s;
    }
        
    &--icon {
        height: 1.6rem;
        width: 1.6rem;
        background-color: #FFF;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        transform: rotate(350deg);
        transition-duration: 1s;
    }

    .menu__icon {
        color: $color-tertiary;
    }
}

.btn-command {
    margin-top: 50px;
}

@media (min-width: 970px) {

    .menu__container--global {
        width: 90%;
        align-items: center;
    }

    .menu__container--bloc {
        width: 96%;
        flex-direction: row;
        gap: 30px;
        justify-content: space-around;
    }

    .menu {
        width: 31%;
        max-width: 360px;
    }
}








