/* BOUTONS DÉGRADÉ ROSE/VIOLET */
.btn {
    border: none;
    background: linear-gradient($color-secondary, $color-primary); 
    border-radius: 30px;
    padding: 15px 50px 15px;
    margin: 20px 0 30px;
    justify-content: center;
    align-self: center;
    box-shadow: 0 0 6px #7f7f7f;
    font-size: 15px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    opacity: 1;
    &:hover {
        transition: 0.5s;
        box-shadow: 3px 2px 6px #7f7f7f;
        opacity: 0.95;
    }
}


/* COEURS AVEC TRANSITIONS DÉGRADÉ */
.restaurantLike { 
        position: absolute; 
        font-size: x-large;
    }

    .heart-color {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient($color-secondary, $color-primary);
        transition: 0.4s;
        font-weight: 900;  
        opacity: 0%;   

        &:hover {
            opacity: 100%;
        }
    } 
