* {
    text-decoration: none;
    list-style-type: none;
}

.flex {
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

/* COMPTEUR - PRESENTATION */

.presentationList {
    counter-set: presentation-counter;    

    li::after {
    counter-increment: presentation-counter;
    content: counter(presentation-counter);
    }
}



