/* VARIABLES - COULEURS */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gradient: linear-gradient(#FF79DA, #9356DC);

$font: 'Roboto', 'sans serif';
$font-title: 'Shrikhand', cursive;