@charset "UTF-8";
/* BOUTONS DÉGRADÉ ROSE/VIOLET */
.btn {
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  padding: 15px 20px 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #7f7f7f;
  font-size: 15px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
}
.btn:hover {
  transition: 0.5s;
  box-shadow: 3px 2px 6px #7f7f7f;
  opacity: 0.95;
}

.btn--menu {
  width: 150px;
  margin: 50px 0 50px;
}

/* COEURS AVEC TRANSITIONS DÉGRADÉ */
.restaurantLike {
  position: absolute;
  font-size: x-large;
}

.heart-color {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: 0.4s;
  font-weight: 900;
  opacity: 0%;
}
.heart-color:hover {
  opacity: 100%;
}

/* LOGO */
.logo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 20px 0 10px;
}
.logo:hover {
  cursor: pointer;
}
.logo img {
  width: 180px;
}

/* LOCATION */
.location {
  height: 40px;
  background-color: #E3E3E3;
  box-shadow: inset 0px 20px 7px -20px #B8B8B8;
}
.location .locationBar {
  justify-content: center;
  padding: 12px;
}
.location .locationBar .containerLocation {
  margin-right: 15px;
  align-items: center;
}

.searchText {
  background: transparent;
  border: none;
  color: black;
}

/* RÉSERVATION */
.reservation {
  background-color: #F3F3F3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 30px 40px;
}
.reservation p {
  font-weight: 200;
  margin: 0 5px 30px;
}

/* LOGO */
.footer {
  flex-direction: column;
  background-color: #363636;
  padding-bottom: 15px;
  padding-top: 20px;
}

.logo-footer {
  font-family: "Shrikhand", cursive;
  font-size: large;
  color: white;
  margin: 20px 10px 0;
  padding-left: 30px;
  align-items: center;
}

/* FOOTER */
.footerList {
  flex-direction: column;
}
.footerList li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}
.footerList li p {
  color: white;
  margin: 5px 0 5px;
}

.fa-footer {
  color: white;
  padding: 0px 10px 0 0;
}

@media (min-width: 768px) {
  /* FOOTER TABLET*/
  .footer {
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
  }
  .footer .logo-footer {
    margin: 0;
  }
  .footer .footerList ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer .footerList ul li {
    margin-right: 30px;
  }
}
/*  PRESENTATION */
.presentationList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.presentationItem {
  flex-direction: row;
  background: #f6f6f6;
  box-shadow: 2px 6px 8px 4px #e7e7e7;
  border-radius: 25px;
  border: 0px;
  align-items: center;
  width: 90%;
  height: 70px;
  justify-content: flex-start;
  margin: 10px 0 10px;
  padding-right: 8px;
}
.presentationItem:hover {
  background-color: rgba(174, 143, 212, 0.3725490196);
  cursor: pointer;
}
.presentationItem:hover i {
  color: #9356DC;
}

.numberIcon {
  margin-left: -10px;
  background-color: #9356DC;
  border: none;
  border-radius: 50%;
  padding: 4px 8px 4px;
  justify-content: center;
  color: white;
}

li i {
  padding: 0 25px 0;
  color: #b3b3b3;
}

@media (min-width: 768px) {
  /* HEADER TABLET */
  .presentationList {
    display: flex;
    flex-direction: row;
  }
  .presentationList .presentationItem {
    margin: 0 20px 0 0;
  }
}
/* CONFIGURATION */
html {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

h1 {
  margin: 20px 40px 10px;
}

h2 {
  margin: 40px 0 20px 20px;
}

/* HOMECARDS */
.restaurants {
  flex-direction: column;
  background-color: #f3f3f3;
  margin-top: 40px;
  padding-bottom: 50px;
}

.containerRestaurants {
  flex-direction: column;
  gap: 30px;
  margin: 0 20px 0;
}

.cardRestaurant {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 25px;
  box-shadow: 4px 6px 8px 4px #e4e4e4;
  overflow: hidden;
}
.cardRestaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
}
.cardRestaurant .cardBadge {
  position: absolute;
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 3px;
  top: 10px;
  right: 20px;
}

.cardRestaurant:hover {
  box-shadow: 2px 6px 8px 4px #d3d3d3;
  cursor: pointer;
}

.cardRestaurantDescriptionText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cardRestaurantDescriptionText h3 {
  margin: 0;
}

.cardRestaurantDescriptionText p {
  margin: 5px 0 0;
  font-weight: 300;
}

.cardRestaurantDescription {
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 15px 15px;
  position: relative;
}

.cardRestaurantIcon .restaurantLike {
  top: 20%;
  right: 2%;
}

@media (min-width: 768px) {
  .containerRestaurants {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .cardRestaurant {
    width: 47%;
  }
}
/* TYPOGRAPHY */
* {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

/* MENU */
.containerMenu {
  width: 100%;
  background-color: #f3f3f3;
  flex-direction: column;
  padding: 10px;
  position: relative;
  bottom: 60px;
  border-radius: 60px 60px 0 0;
}

/* HEADER MENU */
.header-menu-img img {
  width: 100%;
}

.headerMenu {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}
.headerMenu h1 {
  font-family: "Shrikhand", cursive;
}
.headerMenu .restaurantLike {
  right: 10%;
}

/* CONTAINER MENUS */
.containerMenus {
  flex-direction: column;
  gap: 15px;
  margin: 10px;
}
.containerMenus .menuTitle {
  font-weight: 300;
  margin: 30px 0 5px 0;
  font-size: 1.1em;
  position: relative;
}
.containerMenus .menuTitle:after {
  content: "";
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: -30%;
}

.menuCard {
  background-color: white;
  border-radius: 15px;
  padding: 10px 8px 10px;
  box-shadow: 2px 4px 10px 4px #e4e4e4;
  margin: 0;
  -webkit-animation: 1s ease-out both itemAppear;
          animation: 1s ease-out both itemAppear;
}
.menuCard:hover {
  cursor: pointer;
}
.menuCard .menuDescription {
  flex-direction: row;
  justify-content: space-between;
}
.menuCard .menuDescriptionText {
  flex-direction: column;
}
.menuCard .menuDescriptionText h3 {
  margin: 5px;
  font-weight: 500;
}
.menuCard .menuDescriptionText p {
  margin: 2px 5px 5px;
  font-weight: 300;
}

@-webkit-keyframes itemAppear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes itemAppear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}/*# sourceMappingURL=style.css.map */